section{
  height: 100vh;
  width:100vw;
}

section.one{
  color: #000;
}

nav{
  display: flex;
  justify-content: left;
  font-family: 'Barriecito', cursive;
  width:80vw;

}

.full-width-nav{
  background-color: #C7383B;
  width: 100vw;

}


nav a{
  color:#F2DBCA;
  padding: 0 20px;
  text-decoration: none;
  display:block;
  text-transform: uppercase;
  text-align: center;
}

#ratlings.active,
#ian.active,
#harrison.active,
#paul.active,
#evan.active {
  background-color: #F2DBCA;
  color: #C7383B
}

body{
  font-family: 'Helvetica';
  font-size: 25px;
  margin:0;
  padding:0;
  background-color: #F2DBCA
}

p{
  padding-left: 20px;
  color: #442220
}

h1{
  font-family: 'Barriecito', cursive;
  text-transform: uppercase;
  color: black;
  font-size: 175px;
  margin-top: -125px;
  margin-bottom: 50px;

}

.picture{
  display: flex;
  margin-top: 25px;
}

#evanpic2{
  margin-top: -225px;
}
#ianpic2{
  margin-left: 711px;
  margin-top: -130px;
}
#paulpic2{
  margin-top: -340px;
}
#harrisonpic2{
margin-top: -275px;
}
#icon{
  margin-left: 30px;
  width: 125px;
  height: 125px;
}

.avatar{
  display: flex;
  margin-bottom: -100px;
}

img{
  position: relative;
  z-index: -1;
  transform: rotate(-5deg);
  border: 2px solid #C7383B;
}
